@page "/Cliente/Index"
@inject ClienteServices clientesService
@inject ToastService toastService

@rendermode InteractiveServer

<PageTitle>Clientes</PageTitle>
<div class="row" style="background-color:white; padding:10px; margin:10px;">
	<div class="col">

		<div class="text-left">
			<h2 class="text-black"><i class="bi bi-person-plus m-1"></i> Clientes</h2>
		</div>
	</div>
	<div class="col" style="">
		<a href="/Cliente/Create" class="btn btn-secondary">Crear nuevo cliente</a>
	</div>
</div>

<div class="container">
	<div class="card">
		<div class="card-body">
			<div class="row">
				<div class="col-4">
					<div class="input-group" style="width: 250px">
						<div class="form-floating">
							<InputSelect class="form-select" id="floatingSelect" aria-label="Floating label select example" @bind-Value="@valorFiltro">
								<option value="" selected disabled>--- Selecciona ---</option>
								<option value="idcliente">ID Cliente</option>
								<option value="fechaingreso">Fecha de Ingreso</option>
								<option value="nombres">Nombre</option>
								<option value="email">Email</option>
								<option value="cedula">C&eacute;dula</option>
							</InputSelect>
							<label for="floatingSelect"><strong>Filtrar en base a...</strong></label>
						</div>
						@*btn restablecer*@
						<button type="button" class="btn btn-secondary bi bi-arrow-counterclockwise" @onclick="() => Restablecer()"></button>
					</div>
				</div>

				@*Btn Buscar*@
				<div class="col">
					<div class="input-group" style="width: 500px">
						@*textbox buscar*@
						<div class="form-floating d-flex align-items-center">
							<InputText @bind-Value="@searchBarValue" class="form-control" placeholder="" id="floatingSearch" />
							<label for="floatingSearch">Buscar</label>
						</div>
						<button @onclick="Buscar" class="btn btn-secondary bi bi-search" type="button"></button>
					</div>
				</div>
			</div>

			@if (valorFiltro == "fechaingreso")
			{
				<br />
				<div class="row">
					<div class="col">
						<div class="form-floating">
							<InputDate id="desde" class="form-control" @bind-Value=Desde></InputDate>
							<label for="desde"><strong>Fecha Inicial</strong></label>
						</div>
					</div>

					<div class="col">
						<div class="form-floating">
							<InputDate id="hasta" class="form-control" @bind-Value=Hasta></InputDate>
							<label for="hasta"><strong>Fecha Final</strong></label>
						</div>
					</div>
				</div>
			}

			<br />

			<table class="table table-light table-hover">
				<thead class="table table-striped ">
					<tr class="text-center ">
						<th>ID</th>
						<th>Nombre</th>
						<th>Cédula</th>
						<th>Contacto</th>
						<th>Email</th>
						<th>Dirección</th>
						<th>Fecha registro</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var cliente in ListaClientes)
					{
						<tr class="text-center text-white">
							@*Id*@
							<td>@cliente.ClienteId</td>
							@*Nombre*@
							<td>@cliente.Nombre</td>
							@*Concepto*@
							<td>@cliente.Cedula</td>
							@*Deuda*@
							<td>@($"({cliente.Telefono?[..3]}) {cliente.Telefono?[3..6]}-{cliente.Telefono?[6..]}")</td>
							<td>@cliente.Email</td>
							<td>@cliente.Direccion</td>
							<td>@cliente.FechaIngreso.ToString("dd/M/yyyy")</td>

							@*Botones*@
							<td class="text-center">
								<a href="/Cliente/Details/@cliente.ClienteId" class="btn btn-outline-dark bi-eye"></a>

								<a href="/Cliente/Edit/@cliente.ClienteId" class="btn btn-outline-info bi bi-pencil-square"></a>

								<button type="button" @onclick="() => MostrarModal(cliente.ClienteId, cliente.Email)" class="btn btn-outline-danger bi bi-trash"></button>
							</td>
						</tr>
					}
				</tbody>
				<caption>Cant. De Clientes: @ListaClientes.Count</caption>
			</table>
		</div>
	</div>
</div>

@if (mostrarModal)
{
	<div class="modal fade show" tabindex="-1" style="display: block;" aria-modal="true" role="dialog">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header" style="background-color: #7B0323; color: white;">
					<h5 class="modal-title">Eliminar Cliente</h5>
					<button type="button" class="btn-close" @onclick="CerrarModal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>¿Está seguro de que desea eliminar a este cliente?</p>
					<p>Esta opción no se puede deshacer.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" @onclick="CerrarModal">Cancelar</button>
					<button type="button" class="btn btn-danger" @onclick="Eliminar">Eliminar</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-backdrop fade show" @onclick="CerrarModal"></div>
}

<style>
	body {
		background-color: #f5f5f5;
	}

	.btn-success {
		background-color: #0d5c63;
		border: none;
	}
</style>
@code {
	public string searchBarValue { get; set; } = string.Empty;
	public string valorFiltro { get; set; } = string.Empty;
	public DateTime? Desde { get; set; } = null;
	public DateTime? Hasta { get; set; } = null;
	public List<Clientes> ListaClientes { get; set; } = new List<Clientes>();

	protected override async Task OnInitializedAsync()
	{
		ListaClientes = await clientesService.Listar(C => true);
	}

	// MODALS
	private bool mostrarModal = false;
	private int ClienteIdSeleccionado { get; set; }
	private string EmailClienteSelecionado { get; set; } = "";

	private void MostrarModal(int clienteId, string clienteEmail)
	{
		ClienteIdSeleccionado = clienteId;
		EmailClienteSelecionado = clienteEmail;
		mostrarModal = true;
	}

	private void CerrarModal()
	{
		mostrarModal = false;
		ClienteIdSeleccionado = 0;
		EmailClienteSelecionado = "";
	}

	public async Task Eliminar()
	{
		try
		{
			// OJO: cuando sea necesario se descomentara este codigo
			//
			// var user = await UserManager.FindByEmailAsync(EmailClienteSelecionado);
			// if (user == null)
			// 	return;
			// await UserManager.DeleteAsync(user);

			await clientesService.Eliminar(ClienteIdSeleccionado);
			ListaClientes = await clientesService.Listar(x => true);
			mostrarModal = false;
			ClienteIdSeleccionado = 0;
			TipoNotificacion = ToastType.Success;
			TituloNotificacion = "Enhorabuena";
			MensajeNotificacion = "¡Se ha eliminado el cliente exitosamente!";
			MostrarToast(TipoNotificacion, TituloNotificacion, MensajeNotificacion);
		}
		catch (Exception ex)
		{
			TipoNotificacion = ToastType.Danger;
			TituloNotificacion = "Error";
			MensajeNotificacion = "Hubo un error al eliminar el cliente.";
			MostrarToast(TipoNotificacion, TituloNotificacion, MensajeNotificacion);
		}
	}

	//NOTIFICACIONES
	public ToastType TipoNotificacion { get; set; }
	public string MensajeNotificacion { get; set; } = string.Empty;
	public string TituloNotificacion { get; set; } = string.Empty;

	public void MostrarToast(ToastType tipo, string titulo, string cuerpo)
	=> toastService.Notify(new(tipo, titulo, cuerpo));

	// Filtro de busqueda
	public async Task Buscar()
	{
		if (string.IsNullOrEmpty(valorFiltro))
		{
			TipoNotificacion = ToastType.Warning;
			TituloNotificacion = "Aviso";
			MensajeNotificacion = "Debe seleccionar una opción en el fitro.";
			MostrarToast(TipoNotificacion, TituloNotificacion, MensajeNotificacion);
			ListaClientes = await clientesService.Listar(x => true);
			return;
		}

		searchBarValue.Trim().ToLower();

		switch (valorFiltro)
		{
			case "idcliente":
				if (string.IsNullOrEmpty(searchBarValue))
				{
					TipoNotificacion = ToastType.Warning;
					TituloNotificacion = "Aviso";
					MensajeNotificacion = "Debe proveer un ID de cliente para buscar";
					MostrarToast(TipoNotificacion, TituloNotificacion, MensajeNotificacion);
					return;
				}
				if (!searchBarValue.All(char.IsDigit))
				{
					TipoNotificacion = ToastType.Warning;
					TituloNotificacion = "Aviso";
					MensajeNotificacion = "El criterio de búsqueda solo puede alojar numeros.";
					MostrarToast(TipoNotificacion, TituloNotificacion, MensajeNotificacion);
					return;
				}
				if (int.TryParse(searchBarValue, out int id))
					ListaClientes = await clientesService.Listar(lt => lt.ClienteId == id);
				break;

			case "fechaingreso":
				if (Desde == null || Hasta == null)
				{
					TipoNotificacion = ToastType.Warning;
					TituloNotificacion = "Aviso";
					MensajeNotificacion = "Ambos campos de las fechas deben llenarse.";
					MostrarToast(TipoNotificacion, TituloNotificacion, MensajeNotificacion);
					return;
				}
				if (Desde > Hasta)
				{
					TipoNotificacion = ToastType.Warning;
					TituloNotificacion = "Aviso";
					MensajeNotificacion = "La fecha inicial no puede ser mayor a la final.";
					MostrarToast(TipoNotificacion, TituloNotificacion, MensajeNotificacion);
					return;
				}
				await clientesService.Listar(x => x.FechaIngreso >= Desde && x.FechaIngreso <= Hasta);
				break;

			case "email":
				if (string.IsNullOrEmpty(searchBarValue))
				{
					TipoNotificacion = ToastType.Warning;
					TituloNotificacion = "Aviso";
					MensajeNotificacion = "Debe proveer un email para buscar.";
					MostrarToast(TipoNotificacion, TituloNotificacion, MensajeNotificacion);
					return;
				}
				ListaClientes = await clientesService.Listar(lt => lt.Email.Trim().ToLower()
															.Contains(searchBarValue));
				break;

			case "nombres":
				if (string.IsNullOrEmpty(searchBarValue))
				{
					TipoNotificacion = ToastType.Warning;
					TituloNotificacion = "Aviso";
					MensajeNotificacion = "Debe proveer un nombre y/o apellido/s para buscar.";
					MostrarToast(TipoNotificacion, TituloNotificacion, MensajeNotificacion);
					return;
				}
				ListaClientes = await clientesService.Listar(lt => lt.Nombre.Trim().ToLower()
															.Contains(searchBarValue));
				break;

			case "cedula":
				if (string.IsNullOrEmpty(searchBarValue))
				{
					TipoNotificacion = ToastType.Warning;
					TituloNotificacion = "Aviso";
					MensajeNotificacion = "Debe proveer una cédula para buscar.";
					MostrarToast(TipoNotificacion, TituloNotificacion, MensajeNotificacion);
					return;
				}
				ListaClientes = await clientesService.Listar(lt => lt.Cedula.Trim().ToLower()
															.Contains(searchBarValue));
				break;

			default:
				ListaClientes = await clientesService.Listar(x => true);
				break;
		}
	}

	public async Task Restablecer()
	{
		ListaClientes = await clientesService.Listar(x => true);
		searchBarValue = string.Empty;
		valorFiltro = string.Empty;
		Desde = null;
		Hasta = null;

		TipoNotificacion = ToastType.Info;
		TituloNotificacion = "Aviso";
		MensajeNotificacion = "Se han restablecido los criterios de búsqueda.";
		MostrarToast(TipoNotificacion, TituloNotificacion, MensajeNotificacion);
	}
}
