@page "/Pago/Create"
@inject PagoService pagoService
@inject MetodosPagoService metodoPagoService
@inject CXPService cxpService
@inject NavigationManager navigation

<EditForm Model="pago" OnValidSubmit="Crear">
    <DataAnnotationsValidator />
    <div class="container">
        <div class="card">
            <div class="card-body">

                <div class="section-title">Datos de la cuenta</div>

                <div class="row">
                    <div class="col">
                        <label>Metodo pago</label>
                        <InputSelect class="form-control" @bind-Value="pago.MetodoPagoId" placeholder="MetodoPago">
                            <option disabled value="0">Seleccione un metodo de pago</option>
                            @foreach (var metodoPago in metodoPagolist)
                            {
                                <option value="@metodoPago.MetodoPagoId">@metodoPago.Descripcion</option>
                            }
                        </InputSelect>
                        <ValidationMessage For="@(() => pago.MetodoPagoId)" />
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label>Cuenta por pagar</label>
                        <InputSelect class="form-control" @bind-Value="pago.CuentaPorPagarId" placeholder="CuentaPorPagar">
                            <option disabled value="0">Seleccione una cuenta</option>
                            @foreach (var cuenta in cxplist)
                            {
                                <option value="@cuenta.CuentaId">@cuenta.CuentaId</option>
                            }
                        </InputSelect>
                        <ValidationMessage For="@(() => pago.CuentaPorPagarId)" />
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label>Fecha Pago</label>
                        <InputDate class="form-control" @bind-Value="pago.FechaPago" placeholder="FechaPago"></InputDate>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label>Monto</label>
                        <InputNumber class="form-control" @bind-Value="pago.monto" placeholder="Monto"></InputNumber>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-success">Guardar</button>
            <a href="/Pago/Index" class="btn btn-secondary">Volver</a>
        </div>
    </div>

   
</EditForm>



@code {

    public PagoCXP pago { get; set; } = new PagoCXP();
    public List<MetodosPago> metodoPagolist { get; set; } = new List<MetodosPago>();
    public List<CXP> cxplist { get; set; } = new List<CXP>();

    [Inject] protected ToastService ToastService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        metodoPagolist = await metodoPagoService.Listar(C => true);
        cxplist = await cxpService.Listar(C => true);
    }

    public async Task Crear()
    {
        if (pago.PagoId == 0)
        {
            await pagoService.Guardar(pago);
            ToastService.Notify(new(ToastType.Success, "Exito", $"Pago hecho correctamente."));
            pago = new PagoCXP();
            navigation.NavigateTo("/Pago/Index");
        }
        else
        {
            ToastService.Notify(new(ToastType.Danger, "Error", $"Esa cuenta ya se ha pagado."));
        }
    }


}
